body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

* {
    box-sizing: border-box;
}

.form-container {
    position: absolute;
    width: 60%;
    margin: auto;
    padding: 16px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

button {
    width: 200px;
    padding: 10px;
    background-color: #000000;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #383838;
}

.container {
    display: none;
    width: 60%;
    min-height: 60%;
    margin: auto;
    padding: 16px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    position: absolute;
}

.registerBtn{
    margin-bottom: 0%;
}
