<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Our intelligent users</h1>

<ul>
    <li><th:block th:text="${user1}">user1</th:block></li>
    <li><th:block th:text="${user2}">user2</th:block></li>
    <li><th:block th:text="${user3}">user3</th:block></li>
    <li><th:block th:text="${user4}">user4</th:block></li>
    <li><th:block th:text="${user5}">user5</th:block></li>
  </ul>
</body>
</html>